<%- include('includes/head2.ejs') %>
<header>
  <!-- :::::La línea de búsqueda::::: -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.controlymedicion.com.mx">
        <img src="/assets/logos/CYM.png" width="" height="70" />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/index"> Inicio </a>

        <a class="navbar-item" href="/historia"> Historia </a>

        <a class="navbar-item" href="/laboratorio">
          Laboratorio de Calibración
        </a>

        <a class="navbar-item" href="/servicios"> Nuestros Servicios </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Productos </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/lista"> Añadir Producto </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- :::::El texto en la imagen::::: -->
  <div
    class="cover d-flex justify-content-end align-items-start flex-column p-5"
  >
    <h1>Control y Medición</h1>
    <p>El mejor laboratorio de calibración de la ciudad</p>
  </div>
</header>

<section>
  <div class="container mt-5 mb-5">
    <a href="/nuevo" class="button is-link is-rounded">Registrar</a>
    <br /><br />
    <% if (machines.length > 0) { %>
    <div class="columns is-multiline">
      <% for (let machine of machines) { %>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="<%= machine.imagen %>" alt="Placeholder image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="<%= machine.imagen %>" alt="Placeholder image" />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4"><%= machine.nombre %></p>
                <p class="subtitle is-6"><%= machine.handle %></p>
              </div>
            </div>

            <div class="content">
              <%= machine.descripcion %>
              <br />
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% } else { %>
    <h1>No hay máquinas :(</h1>
    <% } %>
    <a href="/nuevo" class="button is-link is-rounded">Registrar</a>
  </div>
</section>

<%- include('includes/foot.ejs') %>
